In [1]:
import numpy as np

In [2]:
from sklearn.preprocessing import MinMaxScaler

In [3]:
data  = np.random.randint(0,100,(10,2))

In [4]:
data

array([[59, 26],
       [ 5, 23],
       [89, 68],
       [41,  4],
       [80, 89],
       [17,  5],
       [26, 56],
       [27, 50],
       [40, 37],
       [72,  7]])

In [5]:
scaler_model = MinMaxScaler()

In [7]:
type(scaler_model)

sklearn.preprocessing.data.MinMaxScaler

In [9]:
scaler_model.fit(data)

/home/milan/anaconda3/envs/tfdeeplearning/lib/python3.5/site-packages/sklearn/utils/validation.py:444: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [11]:
scaler_model.transform(data)

array([[ 0.64285714,  0.25882353],
       [ 0.        ,  0.22352941],
       [ 1.        ,  0.75294118],
       [ 0.42857143,  0.        ],
       [ 0.89285714,  1.        ],
       [ 0.14285714,  0.01176471],
       [ 0.25      ,  0.61176471],
       [ 0.26190476,  0.54117647],
       [ 0.41666667,  0.38823529],
       [ 0.79761905,  0.03529412]])

In [12]:
scaler_model.fit_transform(data)

/home/milan/anaconda3/envs/tfdeeplearning/lib/python3.5/site-packages/sklearn/utils/validation.py:444: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

array([[ 0.64285714,  0.25882353],
       [ 0.        ,  0.22352941],
       [ 1.        ,  0.75294118],
       [ 0.42857143,  0.        ],
       [ 0.89285714,  1.        ],
       [ 0.14285714,  0.01176471],
       [ 0.25      ,  0.61176471],
       [ 0.26190476,  0.54117647],
       [ 0.41666667,  0.38823529],
       [ 0.79761905,  0.03529412]])

In [13]:
import pandas as pd

In [14]:
mydata = np.random.randint(0,101,(50,4))

In [15]:
mydata

array([[ 96,  37,  39,  49],
       [  9,  91,  62,  14],
       [ 73,  91,  22,  67],
       [ 13,  42,  42,  57],
       [ 24,  59,  74,  59],
       [ 90,  48,  99,  32],
       [ 59,  56,  49,  92],
       [  1,  15,  40,  76],
       [ 14,  30,  33,  51],
       [  0,  65,   9,  36],
       [ 37,  19,  10,  11],
       [ 53,  81,  21,  66],
       [ 13,   6,  32,  41],
       [ 99,   6,  76,  92],
       [ 20,  46,  25,  58],
       [ 28,  44,  46,  89],
       [ 44,  50,  56,  56],
       [100,  88,  58,  42],
       [  5,   7,  55,  74],
       [ 79,  86,  74,  58],
       [ 27,  46,  28,  23],
       [ 27,  92,  76,  20],
       [ 59,  93,  88,  87],
       [ 41,  60,  10,  15],
       [ 45,  59,  95,  94],
       [ 86,  67,  31,  23],
       [ 50,  30,  86,  73],
       [ 61,   8,  89,  61],
       [ 67,  22,  47,  45],
       [ 50,  28,  94,  22],
       [ 72,  40,  75,  57],
       [ 67,  84,  46,  76],
       [ 43,  72,  79,  24],
       [  7,   6,  78,  39],
       [ 45,  63,  67,  53],
       [ 90,  35,  59,  49],
       [ 53,  58,  27,   9],
       [ 42,  33,  62,  31],
       [ 48,   8,  96,  30],
       [ 44,   0,  88,  92],
       [ 67,  89,  32,  93],
       [ 61,  94,  46,  29],
       [ 16,  26,  73,  32],
       [ 27,  54,  49,  21],
       [ 36,  89,  53,  24],
       [ 46,  87,  87,  44],
       [ 73,  99,  15,   0],
       [ 84,  33,  79,  42],
       [100,  27,  31,  33],
       [ 56,  23,   1,  35]])

In [16]:
df = pd.DataFrame(data = mydata,columns=['f1','f2','f3','label'])

In [17]:
df

     f1  f2  f3  label
0    96  37  39     49
1     9  91  62     14
2    73  91  22     67
3    13  42  42     57
4    24  59  74     59
5    90  48  99     32
6    59  56  49     92
7     1  15  40     76
8    14  30  33     51
9     0  65   9     36
10   37  19  10     11
11   53  81  21     66
12   13   6  32     41
13   99   6  76     92
14   20  46  25     58
15   28  44  46     89
16   44  50  56     56
17  100  88  58     42
18    5   7  55     74
19   79  86  74     58
20   27  46  28     23
21   27  92  76     20
22   59  93  88     87
23   41  60  10     15
24   45  59  95     94
25   86  67  31     23
26   50  30  86     73
27   61   8  89     61
28   67  22  47     45
29   50  28  94     22
30   72  40  75     57
31   67  84  46     76
32   43  72  79     24
33    7   6  78     39
34   45  63  67     53
35   90  35  59     49
36   53  58  27      9
37   42  33  62     31
38   48   8  96     30
39   44   0  88     92
40   67  89  32     93
41   61  94  46     29
42   16  26  73     32
43   27  54  49     21
44   36  89  53     24
45   46  87  87     44
46   73  99  15      0
47   84  33  79     42
48  100  27  31     33
49   56  23   1     35

In [19]:
X = df[['f1','f2','f3']]

In [20]:
y = df['label']

In [23]:
from sklearn.model_selection import train_test_split

In [25]:
X_train, X_test , y_train , y_test = train_test_split(X,y,test_size = 0.33,random_state=101)

In [26]:
X_train.shape

(33, 3)

In [27]:
X_test.shape

(17, 3)

In [28]:
X_train

    f1  f2  f3
46  73  99  15
47  84  33  79
15  28  44  46
9    0  65   9
16  44  50  56
24  45  59  95
34  45  63  67
31  67  84  46
0   96  37  39
44  36  89  53
27  61   8  89
33   7   6  78
5   90  48  99
29  50  28  94
11  53  81  21
36  53  58  27
1    9  91  62
21  27  92  76
2   73  91  22
43  27  54  49
35  90  35  59
23  41  60  10
40  67  89  32
10  37  19  10
22  59  93  88
18   5   7  55
49  56  23   1
20  27  46  28
7    1  15  40
42  16  26  73
14  20  46  25
28  67  22  47
38  48   8  96

In [29]:
X_test

     f1  f2  f3
13   99   6  76
39   44   0  88
30   72  40  75
45   46  87  87
17  100  88  58
48  100  27  31
26   50  30  86
25   86  67  31
32   43  72  79
19   79  86  74
12   13   6  32
4    24  59  74
37   42  33  62
8    14  30  33
3    13  42  42
6    59  56  49
41   61  94  46

In [30]:
y_train

46     0
47    42
15    89
9     36
16    56
24    94
34    53
31    76
0     49
44    24
27    61
33    39
5     32
29    22
11    66
36     9
1     14
21    20
2     67
43    21
35    49
23    15
40    93
10    11
22    87
18    74
49    35
20    23
7     76
42    32
14    58
28    45
38    30
Name: label, dtype: int64

In [31]:
y_test

13    92
39    92
30    57
45    44
17    42
48    33
26    73
25    23
32    24
19    58
12    41
4     59
37    31
8     51
3     57
6     92
41    29
Name: label, dtype: int64